html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 18px;
}

body {
  margin: 0; 
  padding: 0;
  padding: 0; 
  height: 100%; 
  overflow: hidden; 
}


.logo {
  margin-top: 10px; 
  display: flex; 
  gap: 20px; 
  width: 100%; 
  z-index: 999; 
}

.intro {
  /* Use flex (vertical) just to nicely center them in the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 100vh; /* take up the full viewport */ 
  width: 100vw;
  font-weight: bold;
  text-align: left; 
}

.box { 
  margin-left: 20%; 
}

.about { 
  display: flex; 
  justify-content: center; /* Horizontal alignment */
  padding-top: 120px; 
}

.bottom-section {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 1%;
  position: relative;
  z-index: 999;
}

h1 {
  font-size: 3.1rem;
  text-decoration: bold;
  padding: 0;
  margin: 0;
}

h3 { 
  margin: 0; 
  padding: 0; 
}

h4 { 
  margin: 0; 
  padding: 0; 
}

.p1 {
  height: 100%; 
  width: 100%;
  background-image: url('../images/backgrounds/b4.svg');
  background-size: cover; 
  background-position: center;
  position: relative;
  z-index: 0;
  margin-bottom: 0; 
}


p {
  width: 70%;
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
  text-align: left;
}

.title {
  font-weight: bold; 
  color: #000000;
  background-color: rgb(253, 249, 238);
  width: 70%;  
}

.text { 
  color: rgb(37, 37, 37); 
  width: 87%; 
  background-color: rgb(253, 249, 238);
}

.Yan { 
  max-width: 350px; 
  height: auto; 
  overflow: hidden;  
}

.Yan img {  /* fits inside parent container completely */
  height: 100%;
  width: 100%; 
}

.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 3.4rem; /* Large text size for prominence */
}

/* .gradientBridge { 
height: 30vh; 
background: linear-gradient(
to bottom,
#000000 0%,
rgb(4, 15, 34) 100%  
);
width: 100%;
padding-bottom: 0; 
}  */



/* .contact_description { 
  color: rgb(255, 255, 255); 

}

.contact_list { 
  color: rgb(255, 255, 255); 
} */

a {
  position: relative;
  z-index: 10;
}

.col {
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
}

/* Contacts !! */ 
@media (max-width: 800px) {
  .contactsRow {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .contactsCol {
    width: 70%; 
  }

  .p4 {
    height: 40vh !important; 
  }

}

@media (max-width: 581px) {
  .contactsRow {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .contactsCol {
    width: 70%; 
  }

  .p4 {
    height: 45vh !important; 
  }

}

@media (max-width: 460px) {
  .contactsRow {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .contactsCol {
    width: 70%; 
  }

  .p4 {
    height: 50vh !important; 
  }

}

@media (max-width: 420px) {
  .contactsRow {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .contactsCol {
    width: 70%; 
  }

  .p4 {
    height: 61vh !important; 
  }

}
/* Responsive adjustments */
@media (max-width: 1000px) {
  .projectsRow {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .projectsRow button {
    width: 40% !important;
  }
}



/* .projects { 
  display: flex; 
  height: 100%; 
  justify-content: center;
  align-content: center; 
  transition: transform 0.3s ease;
}



.p4 { 
  min-height: 30vh; 
  height: 100%;
  width: 100%; 
  background-color: rgb(0, 0, 0);
  position: relative; 
  z-index: -2; 
} 


.socials {
  display: flex; 
  flex-direction: column; 
  margin-left: 30px; 
}



@media only screen and (max-width: 940px) { 
  /* .Yan img{ 
    max-width: 300px; 
    height: auto; 
    border-radius: 10px;
  } */

  /* p { 
    font-size: 20px; 
  } */


/* @media only screen and (max-width: 881px) {
  

  .timeline .MuiTimelineOppositeContent-root {
    display: none;
  } 

  .timeline .MuiTimelineContent-root {
    margin: 0 auto; 
    text-align: left; 

  .MuiTimelineOppositeContent-root {
    display: none; 
  }
} */

/* @media only screen and (max-width: 800px) {
  .Yan img{ 
    max-width: 235px; 
    height: auto; 
    border-radius: 10px;
  }

  p { 
    width: 90%; 
    font-size: 20px; 
  }
}


@media only screen and (max-width: 725px) {
  .Yan img{ 
    max-width: 180px; 
    height: auto; 
    border-radius: 10px;
  }

  p { 
    width: 90%; 
    font-size: 20px; 
  }
}

@media only screen and (max-width: 630px) {
  .Yan img{ 
    max-width: 250px; 
    height: auto; 
    border-radius: 10px;
  }

  p { 
    width: 90%; 
    font-size: 15px; 
  }

  h1 { 
    font-size: 20px; 
  }
}

@media only screen and (max-width: 560px) {
  .Yan img{ 
    max-width: 240px; 
    height: auto; 
    border-radius: 10px;
  }

  p { 
    width: 90%; 
    font-size: 14px; 
  }

  h1 { 
    font-size: 17px; 
  }
} */

/* @media only screen and (max-width: 520px) {
  .Yan img{ 
    max-width: 220px; 
    height: auto; 
    border-radius: 10px;
  }

  p { 
    width: 90%; 
    font-size: 14px; 
  }

  h1 { 
    font-size: 17px; 
  }
}

@media only screen and (max-width: 478px) {
  .Yan img{ 
    max-width: 100px; 
    height: auto; 
    border-radius: 10px;
  }

  p { 
    width: 90%; 
    font-size: 14px; 
  }

  h1 { 
    font-size: 17px; 
  }
} */

/* @media only screen and (max-width: 428px) {
  .Yan img{ 
    max-width: 170px; 
    height: auto; 
    border-radius: 10px;
  }

  p { 
    width: 90%; 
    font-size: 13px; 
  }

  h1 { 
    font-size: 1px; 
  }
} */

@media (max-width: 1200px) {
  html {
    font-size: 17px;
  }

  .top-section {
    font-size: 2.6rem;
  }

  .bottom-section {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2.9rem;
  }

  .Yan {
    max-width: 360px;
  }

  .heading {
    font-size: 3.1rem;
  }
}

@media (max-width: 968px) {
  html {
    font-size: 16px;
  }

  .top-section {
    font-size: 2.4rem;
  }

  .bottom-section {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.7rem;
  }

  .Yan {
    max-width: 315px;
  }

  .heading {
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .top-section {
    font-size: 2.2rem;
  }

  .bottom-section {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
    width: 80%;
  }

  .Yan {
    max-width: 280px;
  }

  .heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 15px;
  }

  .top-section {
    font-size: 1.9rem;
  }

  .bottom-section {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  p {
    font-size: 1.15rem;
    width: 85%;
  }

  .Yan {
    max-width: 250px;
  }

  .heading {
    font-size: 2.3rem;
  }
}
