/* Mask element to cover anything below the parallax */
.parallax__mask {
  width: 100vw;
  position: relative;
  margin-top: 60vh;
  background: #2d112b;
  z-index: 2;  
  min-height: fit-content;
  height: auto;
  padding-bottom: 10vh;
}

.heading {
  position: absolute; 
  width: 100%;
  top: 200px; 
  justify-content: center; 
  color: rgb(24, 24, 24); 
  z-index: 999; 
}

.projects {
  position: relative;

  min-height: 100vh;
}

.projectsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectsCol {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px 0;
} 

/* .p3 { 
  position: relative;
  z-index: 1;
} */

@media (max-width: 1000px) {
  .projectsRow {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .projectsRow button {
    width: 40% !important;
  }
}

/* Contacts !! */ 
@media (max-width: 800px) {
  .contactsRow {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .contactsCol {
    width: 70%; 
  }

  .p4 {
    height: 40vh; 
  }

}