.projects-showcase {
  display: flex; 
  justify-content: center;
  margin-bottom: 90px; 
}

/* Override Chakra UI button styles */
.project-showcase-button {
  background-color: rgb(102, 120, 159) !important;
  color: rgb(220, 229, 251) !important;
  text-decoration: none !important;
  font-size: clamp(0.9rem, 1.5vw, 1rem) !important;
  padding: 0.75rem 1.5rem !important;
}

.project-showcase-button:hover {
  background-color: rgba(141, 140, 178, 0.79) !important;
}

@media (max-width: 780px) {
  .projects-showcase {
    padding-top: 60px;
  }
}
