.p2 {
  width: 100%;
  position: relative;
  background-color: #1E2F3E;  
  z-index: 0;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
  margin-bottom: -75vh; /* adjust this for the gap */ 
}