html, body { 
  margin: 0; 
  padding: 0; 
  min-height: 150vh;  
  height: 100%; 
  width: 100%; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  font-size: 20px; 
}

.logo {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  width: 100%; 
  z-index: 999; 
}

.intro {
  /* Use flex (vertical) just to nicely center them in the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* center everything vertically in the page */
  align-items: center;      /* center horizontally */
  height: 100vh; /* take up the full viewport */ 
  
  font-weight: bold;
  /* or whatever font/size you like */
}


.top-section { /* item 
  /* The key: reserve enough height so that when the typewriter text 
     starts typing, it doesn’t push the top heading. */
  min-height: 1.5em; 
  font-size: 50px;  /* since its typewriter */ 
}

h1 { 
  font-size: 25px;  
  padding-bottom: 0; 
}

h3 { 
  margin: 0; 
  padding: 0; 
}

h4 { 
  margin: 0; 
  padding: 0; 
}

.title {
  text-decoration: underline; 
  margin-left: 10%; 
  z-index: 999; 
}

.text {
  width: 70%; 
  margin-left: 10%; 
  z-index: 999; 
}


.experience-images {
  position: relative; 
  z-index: 999; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.p1 {
  position: relative; 
  height: 150vh; 
  width: 100%; 
  background-color: rgb(0, 0, 0); 
}


