html { 
  margin: 0; 
  padding: 0; 
  min-height: 100vh; 
  height: auto; 
  width: 100%; 
  overflow-x: hidden; 
  font-size: 20px; 
}

body {
  margin: 0; 
  padding: 0; 
  height: 100%; 
}

p { 
  width: 40%; 
}


.logo {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  width: 100%; 
  z-index: 999; 
}

.intro {
  /* Use flex (vertical) just to nicely center them in the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* center everything vertically in the page */
  align-items: center;      /* center horizontally */
  height: 100vh; /* take up the full viewport */ 
  font-weight: bold;
}


.top-section { /* item 
  /* The key: reserve enough height so that when the typewriter text 
     starts typing, it doesn’t push the top heading. */
  min-height: 1.5em; 
  font-size: 50px;  /* since its typewriter */ 
}

h1 { 
  font-size: 25px;  
  padding: 0; 
  margin: 0; 
}

h3 { 
  margin: 0; 
  padding: 0; 
}

h4 { 
  margin: 0; 
  padding: 0; 
}

.title {
  text-decoration: underline; 
}

.about { 
  display: flex; 
  flex-direction: row; 
  gap: 10%; 
}

.col {
  margin-top: 5%; 
  display: flex;
  flex-direction: column; 
}

.text {
  width: 100%; 
  margin-left: 0; 
}

.Yan img{ 
  max-width: 375px; 
  margin-left: 15%; 
  height: auto; 
  border-radius: 10px;
  border-color: red; 
}


.p1 {
  height: 100vh; 
  width: 100%; 
  background-color: rgb(0, 0, 0); 
}

.p2 { 
  position: relative; 
  background-color: rgb(14, 17, 52); 
  height: 100vh; 
  width: 100%; 
  z-index: 1000; 
}

.gradientBridge { 
  height: 30vh; /* or whatever size you need for the fade */
  background: linear-gradient(
    to bottom,
    #000000 0%,
    rgb(14, 17, 52) 100%  
  );
  width: 100%;
  padding-bottom: 0; 
}

